.topnav {
    overflow: hidden;
    background-color: #72cfd6;
  }
  
.topnav a{
    float:left;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.topnav a:hover{
    font-size: 2.5em;
}
