:root {
  --main-text-color: #4e9a06;
}

#nav {
  grid-area: sidebar1;
  border-radius:50px 50px;
}

body {
  background-color: black;
}

a:link {
  text-decoration: none;
}

#menu{
  color:aqua;
}

details {
  width: 80%;
  margin: 0 auto ;
  background: #282828;
  margin-bottom: 1rem;
  border-radius: 1px;
  overflow: hidden;
}
a{
  color:#4e9a06;
}
summary {
  padding: 1rem;
  display: block;
  background:#333;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  transform-origin: .2rem 50%;
  transition: .1s transform ease;
  content: '';
  border-width: .4rem;
  border-style: solid;
  left: 1rem;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  transform: rotate(0);

}

details[open] > summary:before {
  transform: rotate(90deg);
}

details[open] summary {
  margin-bottom: 10px;
}

details {
  background: gainsboro;
}

details summary {
  cursor: pointer;
  transition: margin 300ms ease-out;
}


#about-me {
  grid-area: content;
  color: var(--main-text-color, white);
  font-family: 'Courier New', Courier, monospace;
}

#me {
  background-color: black;
  grid-area: picture;
  width: 100%;
  height: 60%;
  display: grid;
  border-radius: 50%;
  object-fit: contain;
  place-items: center;
  overflow: hidden;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
}

section:has( +h2){
  background-color: #444;
}

#head {
  grid-area: top;
  font-size: 3rem;
  color: cadetblue;
}

#links {
  grid-area: sidebar2;
  color: color-mix(color(display-p3 1 0 0.331),var(--main-text-color));

}

#form {
  grid-area: form;
  color: color-mix(color(display-p3 1 0 0.331),var(--main-text-color));

}

li {
  list-style: none;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  justify-content: center;
  grid-template-columns: 1fr;

  align-items: center;
  grid-template-areas:
    "top"
    "sidebar1"
    "picture"
    "content"
    "sidebar2"
    "form"
}

@media only screen and (min-width: 750px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "top sidebar1"
      ". picture"
      ". content"
      "sidebar2 form";
  }

  #about-me {
    grid-column: 1/ span 2;
    text-align: center;
  }

  #me {
    grid-area: picture;
    width: 100%;
    height: 60%;
    display: grid;
    border-radius: 50%;
    object-fit: contain;
    place-items: center;
    overflow: hidden;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "sidebar1 top"
    "content picture"
    "sidebar2 form"
    "button"
  }
  #me {
    grid-area: picture;
    display: grid;
    width:100%;

    border-radius:12px;
  }

  #about-me {
    grid-column: 1/ span 2;
    text-align: center;
  }
}


.box {
  background-color: #444;
  color: red;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  word-break: break-word;
}

.flash {
  position: fixed;

  left: 0; 

  padding: 40px;
  background-color: black;
  color: red;

  bottom: 0;
  text-align: center;
  right: 0;

  transform: translateY(100%);
}

.pop {
  animation: popup 5s ;
}

@keyframes popup {
  0% { transform: translateY(100%); }
  10% { transform: translateY(0); }
  50% { transform: translateY(0); }
  99% { transform: translateY(100%); }
}


.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px black;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: black ;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  background: white;
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}
