
 form {
    max-width: 400px;
    width: 100%;
  }
  .required {
    color: red;
  }
 
  textarea:required:invalid{
    border-color: red;
  }
  
  input:required:invalid {
    border-color: red;
  }

  input:optional{
    border-color:green;
  }
  
  button {
    padding: 10px;
    background-color:green;
    color: black;

  }
  
 