:root{
    --selected-color:gold;
    --not-selected-color:grey;
}

#stars {
    font-size: 40px;
    margin-top: 1px;
    cursor: pointer;
  }
  
#stars span {
    color: var(--not-selected-color);
    transition: color 0.5s;
}

